/* Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* Body */
body{
    background: url("background.jpg") 50% / cover;
    background-attachment: fixed;
}

/* Menu */
.menu{
    position: relative;
    font-size: 0px;
    text-align:center;
    z-index: 5;
}
.menu li{
    background: yellowgreen;
    display: inline-block;
    font-size: 40px;
    position: relative;
    width: 300px;
}
.menu li:hover{
    background: aqua;
}
.menu>li+li{
    border-left: 2px solid red;
}
.menu li a{
    padding:20px 60px;
    display:block;
    text-decoration:none;
}
.menu ul{
    position: absolute;
    padding: 20px 0 0;
    height: 0px;
    overflow: hidden;
}
.menu>li:hover>ul{
    height: auto;
    overflow: visible;
    top:100%;
    left: 0px;
    transition: top 1s cubic-bezier(0.56, 0.11, 0.74, 1.93),left 1s cubic-bezier(1, -0.83, 0.37, 2.05);
}
.menu>li>ul{
    left: 100%;
    top:-600%;
}
ul ul>li+li{
    border-top: 2px solid red;
}
.menu .menuFloat{
    left:auto;
    top: auto;
    right:100%;
    padding: 0px 20px 0px;
    bottom: 0px;
    height:0px;
    font-size: 0px;
}
.menu .menuFloat>li{
    height: 0px;
    overflow:hidden;
}

.menu ul>li:hover>.menuFloat{
    height: auto;
}
.menu ul>li:hover>.menuFloat>li{
    height: 80px;
    transition: all 500ms ease 500ms;
}
.menu ul>li:hover>.menuFloat>li+li{
    transition: all 500ms ease;
    height: 82px;
}
.menu .menuGrid{
    left: 100%;
    top:0px;
    padding: 0px 20px 0px;
    height: 0px;
    transition: all 1s ease-in-out;
}
.menu ul>li:hover>.menuGrid{
    height: 213%;
}
.menu>li:first-child:after{
    content:"";
    width: 50px;
    height: 50px;
    background: url('css_sprites.png') -250px -200px;
    position: absolute;
    left: 20px;
    top: 15px;
}
.menu>li:first-child:hover:after{
    background: url('css_sprites.png') -200px -200px;

}
.menu>li:nth-child(2):after{
    content:"";
    width: 50px;
    height: 50px;
    background: url('css_sprites.png') -300px -0px;
    position: absolute;
    left: 10px;
    top: 15px;
}
.menu>li:nth-child(2):hover:after{
    background: url('css_sprites.png') -300px -250px;

}
.menu>li:last-child:after{
    content:"";
    width: 50px;
    height: 50px;
    background: url('css_sprites.png') -300px -50px;
    position: absolute;
    right: 20px;
    top: 15px;
}
.menu>li:last-child:hover:after{
    background: url('css_sprites.png') -300px -200px;

}
.menu>li>ul>li:last-child:before{
    content:"";
    width: 50px;
    height: 50px;
    background: url('css_sprites.png') -300px -150px;
    position: absolute;
    right: 20px;
    top: 15px;
}
.menu>li>ul>li:last-child:hover:before{
    background: url('css_sprites.png') -300px -100px;
}
.menu>li>ul>li:nth-child(3):before{
    content:"";
    width: 50px;
    height: 50px;
    background: url('css_sprites.png') -300px -100px;
    position: absolute;
    left: 20px;
    top: 15px;
}
.menu>li>ul>li:nth-child(3):hover:before{
    background: url('css_sprites.png') -300px -150px;

}

/* Main */
body{
    margin: 0px;
}
h1,h2,h3,h4{
    font-weight:700;
}
p{
    margin: 16px 0px;
}
h2,h3{
    margin:25px 0px;
}
h1{
    margin:33px 0px;
}
h4{
    margin: 21px 0px;
}
.main{
    width: 1200px; 
    margin: 0px auto; 
    border: 2px solid black; 
    padding: 0px 10px; 
    background: black;
}
h1,h2{
    text-align:center;
}
h1{
    color:aqua; font-size: 50px
}
h2{
    font-size:30px;
}
h3{
    font-size:25px;
    padding:0px 10px;
}
div.main>div>div{
    padding:25px;
}
.main>p{
    text-align:justify; 
    color: blueviolet; 
    font-size:25px;
}
.main>div>p{
    font-size:20px;
}
.main>div{
    color:green;
}
.main>div+div{
    color:white;
}
.main>div+div+div{
    color:red;
}
img{
    height:300px;
    display: block;
}
.inline_block{
    display: inline-block;
    position:relative;
}
.inline_block>img{
    width:800px;
    height: auto;
}
.position{
    color:rgba(0, 0, 0, 0.486);
    background: rgba(211, 211, 211, 0.485);
    font-weight:800;
    position:absolute;
    width: 100%;
    top:50%;
    font-size:26px;
    margin-top:-13px;
    text-align:center;
    height: 0;
    overflow:hidden;
}
.inline_block:hover .position{
    height: auto;
}
a{
    display:block;
}
.link_block{
    background:rgb(0, 171, 0);
    position:fixed;
    padding:15px;
    left:10px;
    top:50%;
    margin-top:-165px;
    text-align:center;
    font-size:25px;
}

/* Blocks */
.wrapper{
    width:1200px;
    margin: 0px auto;
    outline: 2px solid red;
}
.first{
    background: lightgoldenrodyellow;
}
.second{
    background:lightcoral;
}
.third{
    background: lightblue;
}
.fourth{
    background:lightgray;
}
.half{
    width:50%;
}
.wide{
    width: 800px;
}
.short{
    width:400px;
}

/* Footer */
.hoverMe{
    font-size: 50px;
    text-align:center;
    position: fixed;
    margin-top: -125px;
    top: 50%;
    right: 0;
    perspective-origin: top right;
    perspective: 200px;
    transform: translate(100%);
    transition: transform 1.5s ease-in-out 1s;
}
.hoverMe>li:first-child{
    position: absolute;
    width: 250px;
    height: 50px;
    transform: rotate(-90deg);
    background: aqua;
    top: 100px;
    left: -150px;    
    animation: shake 20ms ease 3s infinite;
}
@keyframes shake{
    0% {transform: rotate(-90deg);}
    35% {transform: rotate(-89.5deg);}
    70% {transform: rotate(-90.5deg);}
    100% {transform: rotate(-90deg);}
}
.hoverMe:hover>li:first-child{
    animation: paused;
}
.hoverMe:hover>li:last-child{
    transform: rotateY(0deg);
    transition: transform 1.5s ease 500ms;
}
.hoverMe:hover{
    transform: translate(0);
    transition: transform 1.5s ease;
}
.hoverMe>li:last-child{
    transition: transform 1s linear;
    height: 250px;
    width: 300px;
    background:rgba(211, 211, 211, .5);
    transform-origin: 0 0 0;
    transform: rotateY(146deg);
}
.hoverMe>li>ul>li{
    position: absolute;
    border: none;
}
.facebook{
    top: 21%;
    left:46%;
}
.twitter{
    top: 59%;
    left:46%;
}
.instagram{
    top: 40%;
    left: 30%;
}
.linkedin{
    left: 62%;
    top: 40%;
}
.hoverMe>li>ul a{
    pointer-events:all;
    width: 60px;
    height: 60px;
    transform: rotate(45deg);
    border: 3px solid black;
}
.hoverMe>li>ul a:before{
    top: -20px;;
    left: -20px;
    width: 100px;
    height: 100px;
    content:"";
    position: absolute;
    transform: scale(0.5) rotate(-45deg);
}
.facebook a:before{
    background: url('css_sprites.png') -100px -0;
}
.facebook a:hover:before{
    background: url("css_sprites.png") -0 -0;
}
.instagram a:before{
    background: url('css_sprites.png') -100px -100px;
}
.instagram a:hover:before{
    background: url('css_sprites.png') -0 -100px;
}
.linkedin a:before{
    background: url('css_sprites.png') -200px -100px;
}
.linkedin a:hover:before{
    background: url('css_sprites.png') -200px -0;
}
.twitter a:before{
    background: url('css_sprites.png') -100px -200px;
}
.twitter a:hover:before{
    background: url('css_sprites.png') -0 -200px;
}
/* TableCell */
.table{
    display: table-cell;
}
.thirdBlock>div{
    width:600px;
}

/* Inline-Block */
.in_block{
    display: inline-block;
}
.size0{
    font-size:0px;
}
.size0>div{
    font-size:16px;
}
.center{
    vertical-align:top;
}

/* Float */
.float:after{
    content:"";
    clear: both;
    display: block;
}
.in_float{
    float: left;
}
/* float with div */
.after{
    content:"";
    clear: both;
    display: block;
}

/* Flexbox */
.halfFlex{
    flex: 0 1 50%;
}
.wideFlex{
    flex: 0 1 800px;
}
.shortFlex{
    flex: 0 1 400px;
}
.flex{
    display: flex;
}

/* Grid */
.twoOnOne{
    grid-template-columns: 800px 400px;
}
.threeOnOne{
    grid-template-columns: repeat(3,1fr)
}
.halfOnGrid{
    grid-template-columns: repeat(2,1fr);
}
.grid{
    display: grid;
}

/* Grid whith Areas */
.grid{
    display: grid;
    grid-template-areas:
    "A A A A    B B B B     C C C C"
    "G G G G    G G G G     V V V V"
    "G G G G    G G G G     N N N N"
    "H H H H    H H H H     N N N N"
    "H H H H    H H H H     M M M M"
    "J J J J    J J K K     K K K K"
    "F F F Z    Z Z K K     K K K K"
    "Q Q Q Q    Q Q Q Q     L L L L"
    "I I I I    O O O O     L L L L"
    "I I I I    D D D D     L L L L";
}
.a{
    grid-area:A;   
}
.b{
    grid-area:B;
}
.c{
    grid-area:C;
}
.g{
    grid-area:G;
}
.h{
    grid-area:H;
}
.v{
    grid-area:V;
}
.n{
    grid-area:N;
}
.m{
    grid-area:M;
}
.j{
    grid-area:J;
    width:600px;
}
.k{
    grid-area:K;
}
.f{
    width:300px;
    grid-area:F;
}
.z{
    width:300px;
    grid-area:Z;
}
.q{
    grid-area:Q;
}
.o{
    grid-area:O;
}
.i{
    grid-area:I;
}
.l{
    grid-area:L;
}
.d{
    grid-area:D;
}

/* Drawing_css */
.screw{
    margin: 200px 600px;
    position:relative;
}
.screw .element1{
    background: linear-gradient(to right, transparent 25%, pink 25%);
    width: 100px;
    height: 60px;
    position:relative;
}
.screw .element1:after, .screw .element1:before{
    content:'';
    position:absolute;
    bottom: 0;
    width: 0;
    height: 0;
    border: 100px solid transparent;
    border-left-color: pink;
    border-radius:100px;
    transform: rotate(45deg) translate(29px,29px);
}
.screw .element1:before{
    bottom: auto;
    transform: rotate(-45deg) translate(29px, -29px);
}
.screw .element2{
    height:75px;
    width:250px;
    margin-left:150px;
    background: repeating-linear-gradient(-45deg, pink, pink 35px, black 13px, black 17%);
    position:absolute;
    top:50%;
    transform: translateY(-50%);
}
.screw .element2:after{
    content:'';
    height:75px;
    width:50px;
    background:pink;
    position:absolute;
    right:100%;
}
.bolt{
    margin: 250px 600px;
    background: radial-gradient(circle, transparent 25%, red 25%);
    width:250px;
    height:150px;
    position: relative;
}
.bolt:after, .bolt:before{
    content:'';
    width: 0;
    height: 0;
    border-width: 0 125px 85px;
    border-style:solid;
    border-color: transparent transparent red;
    position:absolute;
    bottom:100%;
}
.bolt:before{
    bottom:auto;
    top:100%;
    transform: rotate(180deg);
}
.spanner{
    margin: 250px 500px;
    width:250px;
    height:250px;
    border-radius:50%;
    box-shadow: 50px 50px 0 50px black;
}
.spanner:before{
    content:'';
    position:absolute;
    width:400px;
    height:100px;
    border-radius: 0 70px 70px 0 / 0 25px 25px 0;
    background: radial-gradient(circle closest-side at  90% 50%, transparent 50%, black 50%);
    transform: rotate(45deg) translate(400px, 100px);
}
.nut{
    margin: 450px 700px;
    position: relative;
    transform-origin: 0 0 0;
    transform: rotate(45deg);
}
.nut .element1{
    position: relative;
    width: 80px;
    height: 0;
    border-style:solid;
    border-width: 60px 0 60px 30px;
    border-color:red transparent; 
}
.nut .element1:after, .nut .element1:before{
    content:'';
    position: absolute;
    border-radius: 50%;
    border: 100px solid red;
    border-color:red red transparent transparent;
    right:0;
    bottom:0;
    transform: rotate(-45deg) translate(-28px, 30px);
}
.nut .element1:before{
    transform:rotate(135deg);
    top:-40px;
    left:-119px;
}
.nut .element2{
    width:400px;
    height:80px;
    background: radial-gradient(circle closest-side at  90% 50%, transparent 50%, red 50%);
    border-radius: 0 70px 70px 0 / 0 25px 25px 0;
    position: absolute;
    left: 0;
    top:50%;
    transform: translate(15%,-50%);
}
.ship {
    margin: 600px 700px;
    position: relative;
    transform: rotate(-90deg);
    max-width: 600px;
}
.ship .element1, .ship .element2, .ship .element3{
    width:250px;
    height:300px;
    background: radial-gradient(circle, transparent 40%, aqua 40%);
    position:relative;
}
.ship .element1:after{
    content: "";
    position:absolute;
    width: 0;
    height: 0;
    border-top: 300px solid aqua;
    border-left: 300px solid transparent;
    transform-origin: 0 0 0;
    transform:rotate(-45deg);
}
.ship .element1:before{
    content: "";
    position:absolute;
    width: 900px;
    height: 600px;
    border-radius: 50%;
    border-width: 400px 0 0 0;
    border-style: solid;
    border-color:aqua transparent transparent transparent;
    transform: translate(250px,-50px);
}
.ship .element2:after{
    content: "";
    position:absolute;
    left:380%;
    top:50%;
    width: 0px;
    height: 250px;
    border-width: 0 100px 100px 100px;
    border-style: solid;
    border-color: aqua aqua transparent aqua;
}
.ship .element2:before{
    content: "";
    position:absolute;
    background: aqua;
    height: 10px;
    width: 900px;
    left: 100%;
    top: 50%;
    margin-top:-5px;
}
.ship .element3:before{
    content: "";
    width:300px;
    height:227px;
    position:absolute;
    background:aqua;
    left:15%;
    top:100%;
    transform:rotate(62deg);
}
.ship .element3:after{
    content: "";
    position:absolute;
    top:100%;
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-left: 100px solid aqua;
    transform-origin: 0 0 0;
    transform:rotate(-27deg);
    border-bottom: 50px solid transparent;
}
.ship .element4{
    width: 500px;
    height: 500px;
    overflow: hidden;
    position: relative;
    transform:rotate(45deg) translate(-50%, -150%);
}
.ship .element4:after{
    content: "";
    width: 200%;
    height: 200%;
    position: absolute;
    border-radius: 50%;
    bottom: 0;
    right: 0;
    box-shadow: 300px 300px 0 0 aqua;
}