/* Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* Body */
body{
    background: url("background.jpg") 50% / cover;
    background-attachment: fixed;
}

/* Menu */
.menu{
    position: relative;
    font-size: 0px;
    text-align:center;
    z-index: 5;
}
.menu li{
    background: yellowgreen;
    display: inline-block;
    font-size: 40px;
    position: relative;
    width: 300px;
}
.menu li:hover{
    background: aqua;
}
.menu>li+li{
    border-left: 2px solid red;
}
.menu li a{
    padding:20px 60px;
    display:block;
    text-decoration:none;
}
.menu ul{
    position: absolute;
    padding: 20px 0 0;
    height: 0px;
    overflow: hidden;
}
ul li:hover>ul{
    height: auto;
    overflow: visible;
}
.menu>li>ul{
    top:100%;
    left: 0px;
}
ul ul>li+li{
    border-top: 2px solid red;
}
.menu .menuFloat{
    right:100%;
    padding: 0px 20px 0px;
    bottom: 0px;
}
.menu .menuGrid{
    left: 100%;
    top:0px;
    padding: 0px 20px 0px;
}
.menu>li:first-child:after{
    content:"";
    width: 50px;
    height: 50px;
    background: url('css_sprites.png') -250px -200px;
    position: absolute;
    left: 20px;
    top: 15px;
}
.menu>li:first-child:hover:after{
    background: url('css_sprites.png') -200px -200px;

}
.menu>li:nth-child(2):after{
    content:"";
    width: 50px;
    height: 50px;
    background: url('css_sprites.png') -300px -0px;
    position: absolute;
    left: 10px;
    top: 15px;
}
.menu>li:nth-child(2):hover:after{
    background: url('css_sprites.png') -300px -250px;

}
.menu>li:last-child:after{
    content:"";
    width: 50px;
    height: 50px;
    background: url('css_sprites.png') -300px -50px;
    position: absolute;
    right: 20px;
    top: 15px;
}
.menu>li:last-child:hover:after{
    background: url('css_sprites.png') -300px -200px;

}
.menu>li>ul>li:last-child:before{
    content:"";
    width: 50px;
    height: 50px;
    background: url('css_sprites.png') -300px -150px;
    position: absolute;
    right: 20px;
    top: 15px;
}
.menu>li>ul>li:last-child:hover:before{
    background: url('css_sprites.png') -300px -100px;
}
.menu>li>ul>li:nth-child(3):before{
    content:"";
    width: 50px;
    height: 50px;
    background: url('css_sprites.png') -300px -100px;
    position: absolute;
    left: 20px;
    top: 15px;
}
.menu>li>ul>li:nth-child(3):hover:before{
    background: url('css_sprites.png') -300px -150px;

}

/* Main */
body{
    margin: 0px;
}
h1,h2,h3,h4{
    font-weight:700;
}
p{
    margin: 16px 0px;
}
h2,h3{
    margin:25px 0px;
}
h1{
    margin:33px 0px;
}
h4{
    margin: 21px 0px;
}
.main{
    width: 1200px; 
    margin: 0px auto; 
    border: 2px solid black; 
    padding: 0px 10px; 
    background: black;
}
h1,h2{
    text-align:center;
}
h1{
    color:aqua; font-size: 50px
}
h2{
    font-size:30px;
}
h3{
    font-size:25px;
    padding:0px 10px;
}
div.main>div>div{
    padding:25px;
}
.main>p{
    text-align:justify; 
    color: blueviolet; 
    font-size:25px;
}
.main>div>p{
    font-size:20px;
}
.main>div{
    color:green;
}
.main>div+div{
    color:white;
}
.main>div+div+div{
    color:red;
}
img{
    height:300px;
    display: block;
}
.inline_block{
    display: inline-block;
    position:relative;
}
.inline_block>img{
    width:800px;
    height: auto;
}
.position{
    color:rgba(0, 0, 0, 0.486);
    background: rgba(211, 211, 211, 0.485);
    font-weight:800;
    position:absolute;
    width: 100%;
    top:50%;
    font-size:26px;
    margin-top:-13px;
    text-align:center;
    height: 0;
    overflow:hidden;
}
.inline_block:hover .position{
    height: auto;
}
a{
    display:block;
}
.link_block{
    background:rgb(0, 171, 0);
    position:fixed;
    padding:15px;
    left:10px;
    top:50%;
    margin-top:-165px;
    text-align:center;
    font-size:25px;
}

/* Blocks */
.wrapper{
    width:1200px;
    margin: 0px auto;
    outline: 2px solid red;
}
.first{
    background: lightgoldenrodyellow;
}
.second{
    background:lightcoral;
}
.third{
    background: lightblue;
}
.fourth{
    background:lightgray;
}
.half{
    width:50%;
}
.wide{
    width: 800px;
}
.short{
    width:400px;
}

/* Footer */
.footer{
    font-size: 0px;
    text-align:center;
}
.footer>li{
    display: inline-block;
}
.footer a{
    width: 100px;
    height: 100px;
}
.facebook a{
    background: url('css_sprites.png') -100px -0;
}
.facebook:hover a{
    background: url("css_sprites.png") -0 -0;
}
.instagram a{
    background: url('css_sprites.png') -100px -100px;
}
.instagram:hover a{
    background: url('css_sprites.png') -0 -100px;
}
.linkedin a{
    background: url('css_sprites.png') -200px -100px;
}
.linkedin:hover a{
    background: url('css_sprites.png') -200px -0;
}
.twitter a{
    background: url('css_sprites.png') -100px -200px;
}
.twitter:hover a{
    background: url('css_sprites.png') -0 -200px;
}
/* TableCell */
.table{
    display: table-cell;
}
.thirdBlock>div{
    width:600px;
}

/* Inline-Block */
.in_block{
    display: inline-block;
}
.size0{
    font-size:0px;
}
.size0>div{
    font-size:16px;
}
.center{
    vertical-align:top;
}

/* Float */
.float:after{
    content:"";
    clear: both;
    display: block;
}
.in_float{
    float: left;
}
/* float with div */
.after{
    content:"";
    clear: both;
    display: block;
}

/* Flexbox */
.halfFlex{
    flex: 0 1 50%;
}
.wideFlex{
    flex: 0 1 800px;
}
.shortFlex{
    flex: 0 1 400px;
}
.flex{
    display: flex;
}

/* Grid */
.twoOnOne{
    grid-template-columns: 800px 400px;
}
.threeOnOne{
    grid-template-columns: repeat(3,1fr)
}
.halfOnGrid{
    grid-template-columns: repeat(2,1fr);
}
.grid{
    display: grid;
}

/* Grid whith Areas */
.grid{
    display: grid;
    grid-template-areas:
    "A A A A    B B B B     C C C C"
    "G G G G    G G G G     V V V V"
    "G G G G    G G G G     N N N N"
    "H H H H    H H H H     N N N N"
    "H H H H    H H H H     M M M M"
    "J J J J    J J K K     K K K K"
    "F F F Z    Z Z K K     K K K K"
    "Q Q Q Q    Q Q Q Q     L L L L"
    "I I I I    O O O O     L L L L"
    "I I I I    D D D D     L L L L";
}
.a{
    grid-area:A;   
}
.b{
    grid-area:B;
}
.c{
    grid-area:C;
}
.g{
    grid-area:G;
}
.h{
    grid-area:H;
}
.v{
    grid-area:V;
}
.n{
    grid-area:N;
}
.m{
    grid-area:M;
}
.j{
    grid-area:J;
    width:600px;
}
.k{
    grid-area:K;
}
.f{
    width:300px;
    grid-area:F;
}
.z{
    width:300px;
    grid-area:Z;
}
.q{
    grid-area:Q;
}
.o{
    grid-area:O;
}
.i{
    grid-area:I;
}
.l{
    grid-area:L;
}
.d{
    grid-area:D;
}