@import url('/mySite/css/reset.css');
.wrapper{
    width:1200px;
    margin: 0px auto;
    outline: 2px solid red;
}
.first{
    background: lightgoldenrodyellow;
}
.second{
    background:lightcoral;
}
.third{
    background: lightblue;
}
.fourth{
    background:lightgray;
}
.half{
    flex: 0 1 50%;
}
.wide{
    flex: 0 1 800px;
}
.min{
    flex: 0 1 400px;
}
.flex{
    display: flex;
}