@import url('/mySite/css/reset.css');
.wrapper{
    width:1200px;
    margin: 0px auto;
    outline: 2px solid red;
}
.first{
    background: lightgoldenrodyellow;
}
.second{
    background:lightcoral;
}
.third{
    background: lightblue;
}
.fourth{
    background:lightgray;
}
.half{
    width:50%;
}
.float:after{
    content:"";
    clear: both;
    display: block;
}
.in_float{
    float: left;
}
.wide{
    width: 800px;
}
.min{
    width:400px;
}