@import url('/mySite/css/reset.css');
.wrapper{
    width:1200px;
    margin: 0px auto;
    outline: 2px solid red;
}
.first{
    background: lightgoldenrodyellow;
}
.second{
    background:lightcoral;
}
.third{
    background: lightblue;
}
.fourth{
    background:lightgray;
}
.half{
    grid-template-columns: repeat(2,1fr)
}
.twoOnOne{
    grid-template-columns: 800px 400px;
}
.threeOnOne{
    grid-template-columns: repeat(3,1fr)
}
.grid{
    display: grid;
}
